
body {
  width:100%;
  // max-width:500px;
  height:100%;
//   max-height:800px;
  background-color: #101010;
  font-family: Arial, Helvetica, Sans-Serif;
  Color: #AAAAAA;
  }

.content {
  max-width: 500px;
  margin: auto;
/*  border: 1px solid green;*/
}

form {
  text-align: center;
}

/*ALL FADER GROUP*/
.slider-group {
  margin: auto;
}

/*ONE FADER GROUP*/
.slider-box {
/*  border: 1px solid white;*/
  display: inline-block;
}

  /*NUMBER*/
  .num-wrapper {
    display:block;
    margin:3px;
    padding: 3px;
    font-weight:bold;
    text-decoration:none;
    transform-origin: 0px 0px;

}
.num-wrapper input {
  width: 36px;
  height: 25px;
  margin: 0px;
  transform-origin: 18px 18px;
  transform: rotate(0deg);
}

/*FADER NAME*/
.slider-title {
  display:block;
  padding: 0px 3px;
  text-align: center;
}


h1 {
    margin: auto;
    margin-bottom: 20px;
    color:#454545;
    text-align:center;
  }

.noscroll {
  overflow: hidden;
  position: fixed;
}

#colorbar {
    display:inline-block;
/*   width: 100%;
   height: 100px;*/
  }

  ul#controls {
    display:inline-block;
    width: auto%;
    padding-left:0px;
  }

  ul {
    text-align:center;
    padding: 0;
  }

  ul#mode li {
    display:inline-block;
    width:15%;
  }

  ul#brightness li, ul#speed li {
  display:inline-block;
    width:15%;
  }

  ul li a {
    display:block;
    margin:3px;
    padding:10px 5px;
    border:2px solid #454545;
    border-radius:5px;
    color:#454545;
    font-weight:bold;
    text-decoration:none;
  }

  ul li a.active {
    border:2px solid #BBBBBB;
    color:#FFFFFF;
  }

  .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
