    html {
        display: block;
        width: 100%;
        height: 100%;
        /* max-width: 800px; */
        /* max-height: 900px; */
    }
    /* 
/* HEAD NAME */
    
    h1 {
        margin: auto;
        margin-bottom: 20px;
        color: #454545;
        text-align: center;
    }
    
    body {
        width: 100%;
        height: 100%;
        /* max-width: 800px; */
        /* max-height: 900px; */
        background-color: #101010;
        font-family: Arial, Helvetica, Sans-Serif;
        Color: #AAAAAA;
    }
    
    .content {
        /* border: 1px solid green; */
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
    form {
        text-align: center;
    }
    
    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .noscroll {
        /* overflow: hidden; */
        overflow: visible;
        /* position: fixed; */
    }
    /******************************* SLIDERS *********************************/
    
    input[type=range] {
        -webkit-appearance: none;
        margin: 18px 0;
        width: 100%;
    }
    
    input[type=range]:focus {
        outline: none;
    }
    /*SLIDER STYLE CHROME*/
    
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px;
        width: 36px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -14px;
    }
    
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #dddddd;
    }
    
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #808080;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }
    /*SLIDER STYLE FIREFOX*/
    
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #3071a9;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }
    
    input[type=range]::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -14px;
    }
    /*STYLE SLIDER INTERNET EXPLORER*/
    
    input[type=range]::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
    }
    
    input[type=range]::-ms-fill-lower {
        background: #2a6495;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    
    input[type=range]::-ms-fill-upper {
        background: #3071a9;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    
    input[type=range]::-ms-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }
    
    input[type=range]:focus::-ms-fill-lower {
        background: #3071a9;
    }
    
    input[type=range]:focus::-ms-fill-upper {
        background: #367ebd;
    }
    /*ALL FADER GROUP*/
    /*ONE FADER GROUP*/
    
    .slider-box {
        /* border: 1px solid white; */
        display: inline-block;
    }
    /*FADER*/
    
    .slider-wrapper {
        /* border: 1px solid rgb(255, 3, 3); */
        display: block;
        width: 25px;
        height: 200px;
        padding: 0px 3px;
        margin: auto;
        transform-origin: 0px 0px;
    }
    
    .slider-wrapper input {
        width: 200px;
        height: 25px;
        margin: auto;
        transform-origin: 100px 100px;
        transform: rotate(-90deg);
    }
    /*NUMBER*/
    
    .num-wrapper {
        display: block;
        margin: auto;
        padding: 3px;
        font-weight: bold;
        text-decoration: none;
        transform-origin: 0px 0px;
    }
    
    .num-wrapper input {
        width: 36px;
        height: 25px;
        margin: auto;
        /* transform-origin: 18px 18px; */
        /* transform: rotate(-90deg); */
    }
    /*FADER NAME*/
    
    .slider-title {
        /* border: 1px solid rgb(233, 7, 7); */
        display: block;
        padding: 3px 3px;
    }
    /*gm FADER GROUP*/
    
    .gmslider-box {
        /*  border: 1px solid white;*/
        display: inline-block;
        width: 100%;
        height: 100px;
        padding: 3px 3px;
        margin: 5px;
        /* transform-origin: 0px 0px; */
    }
    /*gm FADER*/
    
    .gmslider-wrapper {
        display: block;
        width: 100%;
        height: 56px;
        padding: 3px 3px;
        margin: auto;
        /* transform-origin: 0px 0px; */
    }
    /*gm input*/
    
    .gmslider-wrapper input {
        width: 50%;
        height: 75px;
        margin: auto;
    }
    /*gmFADER NAME*/
    
    .gmslider-title {
        display: block;
        padding: 0px 8px;
        color: #000000;
    }
    /******************************* SLIDERS *********************************/
    /******************************* COLORPICKER *****************************/
    
    .colorbar-title {
        display: block;
        padding: 3px 3px;
    }
    
    #colorbar {
        display: inline-block;
    }
    
    #colorbar2 {
        display: inline-block;
    }
    /******************************* COLORPICKER *****************************/
    /********************************** MEMORY *******************************/
    
    ul#controls {
        display: inline-block;
        width: 100%;
        margin: auto;
        /* padding-left: 0px; */
    }
    
    ul {
        text-align: center;
        padding: 0;
        margin: auto;
    }
    
    ul#mode li {
        display: inline-block;
        width: 15%;
        margin: auto;
    }
    
    ul#brightness li,
    ul#speed li {
        display: inline-block;
        width: 15%;
        margin: auto;
    }
    
    ul li a {
        display: block;
        margin: 10px;
        padding: 10px 3px;
        border: 2px solid #454545;
        border-radius: 5px;
        color: #454545;
        font-weight: bold;
        text-decoration: none;
    }
    
    ul li a.active {
        border: 2px solid #BBBBBB;
        color: #FFFFFF;
    }
    /********************************** MEMORY *******************************/
    /******************************** LIVE & BAR *****************************/
    
    vul liv g {
        display: block;
        width: auto;
        height: 50px;
        margin: 3px;
        padding: 10px 5px;
        border: 2px solid #454545;
        border-radius: 5px;
        color: #aab415;
        font-weight: bold;
        text-decoration: none;
    }
    
    vul#live liv {
        display: inline-block;
        width: 15%;
    }
    
    vul liv g.active {
        border: 2px solid #fffb00;
        color: #FFFFFF;
    }
    
    vul {
        text-align: center;
        padding: 0;
        position: relative;
        top: -60px;
        left: 0px;
    }
    /******************************** LIVE & BAR *****************************/
    /********************************** ESCALIER *******************************/
    
        sul#esc {
            display: inline-block;
            width: 100%;
            margin: auto;
            /* padding-left: 0px; */
        }
        
        sul {
            text-align: center;
            padding: 0;
            margin: auto;
        }
        
        sul#escalier lis {
            display: inline-block;
            width: 15%;
            margin: auto;
        }
        
        sul#brightness lis,
        sul#speed lis {
            display: inline-block;
            width: 15%;
            margin: auto;
        }
        
        sul lis s {
            display: block;
            margin: 10px;
            padding: 10px 3px;
            border: 2px solid #454545;
            border-radius: 5px;
            color: #454545;
            font-weight: bold;
            text-decoration: none;
        }
        
        sul lis s.active {
            border: 2px solid #BBBBBB;
            color: #FFFFFF;
        }
    /********************************** ESCALIER *******************************/
